{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="list-group">
                <legend class="border-bottom mb-4">Final Score</legend>
                <div>
                    {% for player_score in player_scores %}
                        <p class="text-justify"> {{player_score[0]}}: {{ player_score[1] }}</p>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}