{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="list-group">
                <legend class="border-bottom mb-4">Current Scores</legend>
                <div>
                    {% for player in session_players %}
                        <p class="text-justify"> {{player.player}}: {{player.score}} </p>
                    {% endfor %}
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Scores</legend>
                <div class="form-group">
                    {{ players[0].player }} {{ form.player_1_score.label(class="form-control-label") }}
                    {% if form.player_1_score.errors %}
                        {{ form.player_1_score(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.player_1_score.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.player_1_score(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ players[1].player }} {{ form.player_2_score.label(class="form-control-label") }}
                    {% if form.player_2_score.errors %}
                        {{ form.player_2_score(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.player_2_score.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.player_2_score(class="form-control") }}
                    {% endif %}
                </div>
                {% if num_players =='3' or num_players=='4' %}
                    <div class="form-group">
                        {{ players[2].player }} {{ form.player_3_score.label(class="form-control-label") }}
                        {% if form.player_3_score.errors %}
                            {{ form.player_3_score(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.player_3_score.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.player_3_score(class="form-control") }}
                        {% endif %}
                    </div>
                {% endif %}
                {% if num_players=='4' %}
                    <div class="form-group">
                        {{ players[3].player }} {{ form.player_4_score.label(class="form-control-label") }}
                        {% if form.player_4_score.errors %}
                            {{ form.player_4_score(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.player_4_score.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.player_4_score(class="form-control") }}
                        {% endif %}
                    </div>
                {% endif %}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info btn-lg") }}
                &nbsp;
                {{ form.end_game(class="btn btn-outline-danger btn-lg") }}
            </div>
        </form>
    </div>
{% endblock content %}