{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="list-group">
                <legend class="border-bottom mb-4">Current Scores</legend>
                <div>
                    {% if sum_scores[0] == None %}
                        <p class="text-justify"> Player 1 score: 0 </p>
                    {% else %}
                        <p class="text-justify"> Player 1 score: {{ sum_scores[0] }}</p>
                    {% endif %}
                </div>
                <div>
                    {% if sum_scores[1] == None %}
                        <p class="text-justify"> Player 2 score: 0 </p>
                    {% else %}
                        <p class="text-justify"> Player 2 score: {{ sum_scores[1] }}</p>
                    {% endif %}
                </div>
                {% if num_players == '3' or num_players == '4' %}
                    <div>
                        {% if sum_scores[1] == None %}
                            <p class="text-justify"> Player 3 score: 0 </p>
                        {% else %}
                            <p class="text-justify"> Player 3 score: {{ sum_scores[2] }}</p>
                        {% endif %}
                    </div>
                {% endif %}
                {% if num_players == '4' %}
                    <div>
                        {% if sum_scores[1] == None %}
                            <p class="text-justify"> Player 4 score: 0 </p>
                        {% else %}
                            <p class="text-justify"> Player 4 score: {{ sum_scores[3] }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </fieldset>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Scores</legend>
               {% for field in form %}
                {% if field.type == "IntegerField" %}
                <div class="form-group">
                    {{ field.label(class="form-control-label") }}
                    {% if field.errors %}
                        {{ field(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in field.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(class="form-control") }}
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info btn-lg") }}
                &nbsp;
                {{ form.end_game(class="btn btn-outline-danger btn-lg") }}
            </div>
        </form>
    </div>
{% endblock content %}